@model WebApplication2.Models.Admin

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layoutadmin.cshtml";
}



@if (Session["AdminID"] == null)
{
    Response.Redirect(Url.Action("index", "home", null));
}

</div>






<div id="Content">

    <div id="Our_Services">
        <div class="Our_Services">
            <ul>
                <li class="how_share">
                    <a href="#"></a>
                    <div class="img"></div>
                    <h2>الأعضاء الجدد</h2>
                    <br>
                    <p> لا يوجد عضو جديد </p>

                </li>
                <li class="how_win">
                    <a href="#"></a>
                    <div class="img"></div>
                    <h2> آخر الصفقات </h2>
                    <br>
                    <p> لا توجد صفقات  </p>
                </li>
                <li class="how_adv">
                    <a href="#"></a>
                    <div class="img"></div>
                    <h2>الموظفين المتصلين</h2>
                    <br>
                    <p>لا يوجد موظفين متصلين </p>
                </li>
            </ul>
        </div>
    </div>

</div>



